DISCORD_BOT_TOKEN=
DISCORD_ADMIN_VOICE_GUILD_ID=
DISCORD_ADMIN_VOICE_ROLE_ID=
DISCORD_ADMIN_VOICE_CHANNEL_ID=
DISCORD_ADMIN_VOICE_REQUEST_COOLDOWN_SECONDS=30
POSTGRES_DB=rbot
POSTGRES_USER=rbot
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432
DB_DEBUG=false
